
@{
    ViewData["Title"] = "Home Page";
}
@*<H1> 새로운 유저의 번호 : @Model.UserNo</H1>*@
<H2> 새로운 유저의 번호 : @ViewBag.User.UserNo</H2>
<H2> 새로운 유저의 이름 : @ViewBag.User.UserName</H2>

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
